<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>co.edu.icesi.sam.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/sam_war/greet</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SAM_WAR.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>CompetenciasService</servlet-name>
  	<servlet-class>co.edu.icesi.sam.server.CompetenciasServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CompetenciasService</servlet-name>
  	<url-pattern>/sam_war/CompetenciasService</url-pattern>
  </servlet-mapping>

</web-app>
